body {

    margin: 0 auto;

}

header {

    background-color: rgb(17, 17, 17);
    color: white;
    padding: 2%;
    text-align: center;
}

section {

    text-align: center;
    margin: 2% 12%;
}

footer {
    padding: 2%;
    margin-top: 6.5%;
    background-color:rgb(17, 17, 17);
    color: white;
    text-align: center;
    font-size: 17px;
}

footer a {

    color: white;
    text-decoration: none;
    font-size: 15px;
    margin: 0% 1%;
}

footer a:hover {

    font-size: 16px;
}

button {

    width: 160px;
    height: 30px;
    cursor: pointer;
    background-color: rgb(38, 38, 38);
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 6px;
}

button:hover {

    background-color: rgb(58, 58, 58);
}